:root {
  --black-color: #333;
  --white-color: #fff;
  --brown-color: #CCB26E;
}


/* open-sans-regular*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff');
}


/*Roboto-Regular */

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
}


/*****---Базовая стилизация---*****/

* {
  /*Минимальный сброс стилей*/
  box-sizing: border-box;
  /*margin и padding не влиял на внешний размер элемента*/
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--black-color)
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3,
p {
  margin: 0;
  word-wrap: break-word;
  /*Перенос слов на новую строку*/
  line-break: auto;
  /*Перенос китайских слов на новую строку*/
}

img {
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
}


/*А если placeholder не вмещается в мобильнике*/

input[placeholder] {
  text-overflow: ellipsis;
}


/*А если placeholder не вмещается в мобильнике*/

input:-moz-placeholder {
  text-overflow: ellipsis;
}


/*А если placeholder не вмещается в мобильнике*/

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

.margin--right {
  margin-right: 57px;
}


/*-----base-----*/

.base {
  width: 2650px;
  background: #E5E5E5;
}

.base__container {
  display: flex;
  align-items: flex-start;
  /*Дочери займут свою высоту*/
  padding: 70px 38px 110px 83px;
}


/*---Чекбокс---*/

.checkboxes {
  padding: 22px 28px 30px 30px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.base__title {
  /*h3*/
  padding-right: 15px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.base__label--column {
  position: relative;
  display: flex;
  flex-direction: column;
}

.base__label--font {
  padding-top: 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

/*галка в квадрате*/
label {
  position: relative;
  padding-left: 23px;
  cursor: pointer;
}

.check {
  display: none;
}

.check + span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid var(--brown-color);
  border-radius: 3px;
}

.check+span::before {
  /*content: url('https://csrulez.ru/style_emoticons/default/wink.gif');*/
  /*Для примера ссылки в кодепене*/
  content: url('../img/jackdaw.svg');
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.check:checked+span::before {
  opacity: 1;
}
/*конец галка в квадрате*/


/*---base__select---*/
.base__select {
  width: 8%;
}

.choices {
  position: relative;
  border-radius: 12px;
  z-index: 10;
}


/*Отключаем в браузере, чтобы заморозит блок для стилизации 
.choices {
    overflow: hidden; 
}
.choices__list--dropdown {
  visibility: hidden;/*невидимый
}*/

.choices__inner {
  position: relative;
  /*12.06 y*/
  padding: 8px 7px 4px 11px;
  background-color: var(--white-color);
  border-radius: 12px;
  min-height: auto;
  z-index: 10;
  /*12.06 y*/
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--brown-color);
}

.choices__list--dropdown {
  margin-top: -28px;
  /*12.06 y*/
  padding-top: 41px;
  /*12.06 y*/
  border-color: var(--brown-color);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.choices__list--dropdown .choices__item--selectable:after {
  /*Запись убрала в select-e*/
  content: attr(data-select-text);
  display: none;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

/*cтрелка-селект библиотечная*/
.choices[data-type*=select-one]:after {
  top: 14.5px;
  right: 14px;
  width: 13px;
  height: 13px;
  border: none;
  /*Удалили от предыдущей стрелки*/
  background-image: url(../img/arrow-select.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 12;
  /*12.06 y*/
}

.choices[data-type*=select-one].is-open:after {
  top: 22.5px;
  right: 12px;
  transform: rotate(180deg);
}

.choices[data-type*=select-one].is-open:after {
  background-image: url(../img/arrow-select-o.svg);
}
/*конец cтрелка-селект*/

.is-focused {
  border-radius: 12px;
}

.choices__list--single {
  padding: 4px 6px;
  /*Капризный*/
  /*.choices__inner*/
}

.is-open .choices__inner {
  border-radius: 12px;
}

.choices__placeholder {
  /*Шрифт option*/
  /*Библиотечный*/
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  color: var(--black-color);
  background-color: var(--white-color);
  opacity: inherit;
}


/*---Яндекс карта map---*/
#map {
  width: 473px;
  height: 460px;
  padding: 0;
  margin: 0;
}

[class*="ground-pane"] {
  filter: grayscale(1)/*черно-белое*/
}


/*---Скроллбар---*/
.customScroll {
  width: 15.8%;
  height: 310px;
  background-color: var(--white-color);
}

.simplebar-content-wrapper {
  /*авто включение js для скролл*/
  overflow: auto;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  /*Прокрутку двигаем*/
  top: 7px;
  right: 7px;
}

.simplebar-scrollbar:before {
  /*Из библиотеки*/
  /*Здесь(кодепен) цвет не работает*/
  /*На компе и в css работает*/
  height: 70px;
  background-color: #CCB26E;
}

.base__desrc {
  padding: 20px 30px 5px 30px;
  font-family: 'Open San';
  font-weight: 400;
  font-size: 16.2px;
  line-height: 24px;
}


/*---Телефон валидация и маска---*/
.base__form {
  margin-left: 59px;
  width: 19%;
  background-color: #000;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 25px 32px 25px 31px;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.base__input {
  margin-top: 13px;
  margin-bottom: 18px;
  padding: 20px;
  background-color: var(--white-color);
  border: 1px solid #ff5c00;
  border-radius: 10px;
}

/***Стилазация фразы ошибки***/
.base__form-input {
  /*Чтобы ошибка не прыгала ставим ей(.js-validate-error-label) position: absolute;*/
  position: relative;  
  display: flex;
  flex-direction: column-reverse;
}

.js-validate-error-label {
  /*Чтобы ошибка не прыгала ставим её отцу(.base__form-input) position: relative;*/
  position: absolute;
  top: -8px;
  left: 19px;
  padding: 1px 1px 1px 2px;
  font-size: 12px;
}
/***Конец стилазация фразы ошибки***/

.base__button {
  margin-top: 13px;
  margin-left: 7px;
  padding: 17px 53px;
  width: 194px;
  border-radius: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: var(--white-color);
  background-color: #ff5c00;
}


/*---Тултип---*/
.base__block__tooltip {
  padding: 20px 56px 20px 30px;
  width: 375px;
  background-color: var(--white-color);
}

.tooltip__desrc {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: var(--black-color);
}

.tooltip {
  position: relative;
}

/*Иконка*/
.marker {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 8px 6px;
  border-radius: 50%;
  line-height: 0;
  color: #ffffff;
  background-color: #bcbcbc;
  transition: background-color .4s ease-in-out;
}

.marker:hover {
  background-color: var(--brown-color);
}

.tooltip__content {
  position: absolute;
  bottom: 200%;
  left: -71px;
  width: 150px;
  padding: 7px 15px;
  font-family: 'Open San';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #666;
  color: white;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.tooltip__content:before,
.tooltip__content:after {
  content: "";
  position: absolute;
}

.tooltip__content:after {
  height: 0;
  width: 0;
  bottom: -11.5px;
  left: 65px;
  border-left: 13px solid #666;
  border-bottom: 21px solid transparent;
  transform: rotate(115deg);
}

.marker:hover+.tooltip__content,
.marker:focus+.tooltip__content {
  opacity: 1;
}